<header>
    <style> body{
     background: #36394B;
     height: 100%;
   }
   
   #container{
     margin: 0 auto;
     padding-top: 2%;
   }    
     </style>
   </header>
   <script src="/static/vendors/jquery/dist/jquery.js"></script>
   <script src="https://code.highcharts.com/highcharts.js"></script>
   
   <div id="container" style="width:50%; height:400px;"></div>
   


   <script>
    
    var labledata=[];
    
    var featuresdata=[];
    
    
    var endpoint="api/FrequentCustomers/data"
    $.ajax({
        method:"GET",
        url : endpoint,
        success:function(data){
            console.log(data)
    
             featuresdata=data.ItemNo;
             labledata=data.Customer;
            // labledata2=data.sales;
              console.log("label data"+labledata);
              console.log("featuredata" +   featuresdata);

                   $(function () { 
                        Highcharts.setOptions({
                        colors: ['#67BCE6'],
                        chart: {
                            style: {
                                fontFamily: 'sans-serif',
                                color: '#fff'
                            }
                        }
                    });  
                        $('#container').highcharts({
                            chart: {
                                type: 'column',
                                backgroundColor: '#36394B'
                            },
                            title: {
                                text: 'Best Buying Customers',
                                style: {  
                                    color: '#fff'
                                }
                            },
                            xAxis: {
                                tickWidth: 0,
                                labels: {
                                    style: {
                                        color: '#fff',
                                        }
                                    },
                                categories: labledata
                            },
                            yAxis: {
                                gridLineWidth: .5,
                                    gridLineDashStyle: 'dash',
                                    gridLineColor: 'black',
                                title: {
                                    text: '',
                                    style: {
                                        color: '#fff'
                                        }
                                },
                                labels: {
                                    formatter: function() {
                                            return Highcharts.numberFormat(this.value, 0, '', ',');
                                        },
                                    style: {
                                        color: '#fff',
                                        }
                                    }
                                },
                            legend: {
                                enabled: false,
                            },
                            credits: {
                                enabled: false
                            },
                            tooltip: {
                                valuePrefix: ''
                            },
                            plotOptions: {
                                    column: {
                                        borderRadius: 2,
                                    pointPadding: 0,
                                        groupPadding: 0.1
                                } 
                                },
                            series: [{
                                name: 'Items Bought',
                                data:featuresdata
                            }]
                        });
                    });

    
                  
        },
        error:function(error_data){
            console.error("error")
            console.log(error_data)
        }
    })
 
    </script>


