<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-3d.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="/static/vendors/Chart.js/dist/Chart.min.js"></script> 
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/95368/echarts.english.min.js'></script>

//////////////////////////////////////////////
CMontly_sales
 {% include "app/charts/CMontly_sales.html" %} 

 -----------------------------------------------
 Csales_in_year
 {% include "app/charts/Csales_in_year.html" %}  ##

//////////////////////////////////////////////SDASDSAD
CCustomer_who_buy_often
{% include "app/charts/CCustomer_who_buy_often.html" %}

/////////////////////////////////////////////
predcition1_chart
{% include "app/charts/predcition1_chart.html" %}
//////////////////////////////////////////////
Cprofit_of_the_year
{% include "app/charts/Cprofit_of_the_year.html" %}
///////////////////////////////////////////////
CmostSoldItems
{% include "app/charts/CmostSoldItems.html" %}
-----------------------------------------------sdas
{% include "app/charts/Cmost_profitable_products.html" %}
-----------------------------------------------dsa
{% include "app/charts/CProfitvsSales.html" %}

-----------------------------------------------
{% include "app/charts/Cmobile_usage.1.html" %}
-----------------------------------------------
{% include "app/charts/CustomersVSno_of_items.html" %}

-----------------------------------------------
